SDC_LIBS=streamsets-datacollector-jdbc-lib,streamsets-datacollector-jython_2_7-lib,streamsets-datacollector-basic-lib,streamsets-datacollector-vault-credentialstore-lib,streamsets-datacollector-elasticsearch_5-lib
MYSQL_DATABASE=dashboard
MYSQL_USER=dashboard
MYSQL_PASSWORD=dashboard
MYSQL_RAILS_SCHEMA=app_dashboard_dev
SDC_USER=admin
SDC_PASS=admin
NOTIFICATION_EMAIL=angel@molanco.com