ROW_LIMIT=50000
SUPERSET_WORKERS=4
SUPERSET_WEBSERVER_PORT=8088
SECRET_KEY=ModifyMe
WTF_CSRF_ENABLED=ModifyMe
SQLALCHEMY_TRACK_MODIFICATIONS=ModifyMe
MYSQL_DATABASE=covid19
MYSQL_USER=ModifyMe
MYSQL_PASSWORD=ModifyMe
MYSQL_RAILS_SCHEMA=ModifyMe
PUBLIC_ROLE_LIKE_GAMMA=ModifyMe
FLASK_APP=superset